:root{
  --amarillo: #EAC926;
  --azul: #03264C;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
  --negro: #000;
  --blanco: #fff;
  --marronOscuro: #646464;
  --azulClaro: #0022AA; 
}

/*Movile*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--grisClaro);
}
p {
  font-size: 12px;
  text-align: center;
}
h3 {
  font-size: 24px;
}
.precio {
  font-size: 18px;
  text-align: left;
  margin-top: 5px;
  flex-grow: 0.30;
  text-align: center;
}
.descuento {
  font-size: 16px;
  text-align: left;
  color: var(--verde);
  margin-top: 5px;
  flex-grow: 0.70;
  text-align: left;
}
.precio-descuento{
  display: flex;
}
.descripcion {
  font-size: 16px;
  text-align: left;
  margin-top: 5px;
  display: none;
  color: var(--grisOscuro);
}
header {
  background-color: var(--amarillo);
}
header p {
  margin-top: 10px;
}

.listTotal {
  font-size: 12px;
  margin-top: 10px;
  display: none;
  width: 100vw;
  justify-content: space-around;
}

.listaA{
  display: flex;
  flex-direction: row;
  width: 50vw;
  margin-left: 3%;
  justify-content: space-around;
  position: relative;
}

.listaB{
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: flex-end;
  width: 50vw;
  margin-left: 3%;
}

header ul {
  margin-top: 10px;
}

header ul li {
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  color: var(--negro);
}
main img {
  width: 100%;
}
.menu-hamburguesa {
  text-align: center;
}
.menu-hamburguesa i {
  background-color: var(--celeste);
  border-radius: 5px;
  color: var(--blanco);
  font-size: 20px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  text-align: center;
}

.logo{
  /*flex-grow: 0.50;*/
  width: 50%;
}

.buscador{
  width: 50%;
  display: flex;
}

.entradaHeader{
  width: 70%;
  height: 90%;
  border: none;
  border-bottom-left-radius: 7%;
  border-top-left-radius: 7%;
}

.lupa{
  width: 20%;
  height: 90%;
  background-color: var(--blanco);
  border-bottom-right-radius: 7%;
  border-top-right-radius: 7%;
}

.headerSuperior{
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: center;
}

.headerSuperior1{
  display: flex;
  flex-direction: row;
  padding: 5%;
  width: 100%;
}

/*Main*/

main section {
  width: 90%; /*Ocupa 90% del viewport*/
  margin: auto; /*Esta centrado*/
}
main section h3{
  margin: 20px 0px;
}
main section article {
  margin-top: 10px; /*Separacion de 10px entre cada articulo*/
}
main section article div i{   /*Formato del camioncito*/
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--verde);
  background-color: var(--blanco);
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px; 
  transition: 500ms;
}

.contenedor-articulo {    /*Los manejo como elementos de una caja dentro de la caja del articulo que es donde tengo la info*/
  border-top: 1px solid var(--grisClaro);
  background-color: var(--blanco);
  padding: 15px;
  position: relative; /*Con esto se puede ver el camioncito*/
}

main section article:hover{
  box-shadow: 0px 0px 10px var(--marronOscuro);
}

main section article:hover .descripcion{
  display: block;
}

main section article:hover .fa-truck{
  transform: rotate(-90deg);
}

.circulo-icono {
  color: var(--verde);
  padding-bottom: 30px;
  padding: 5px;
  align-items: flex-end;
  float: right;
  margin-right: 30px;
}
.fa-truck {
  margin: 5px;
}

/* Footer */
.footer-icons {
  color: var(--celeste);
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.footer-icons:hover {
  color: var(--verde);
}

footer p {
  text-align: center;
  padding: 10px;
}
footer h4 {
  text-align: center;
  font-weight: bold;
}
footer {
  background-color: var(--blanco);
  margin-top: 20px;
}

@media (min-width: 361px) { /*Tablet*/
  main section article .descripcion {
    display: block;
  }
  main section article {
    box-shadow: 0px 0px 10px var(--marronOscuro);
  }
  main section div.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  main section div.productos article {
    width: 45%;
  }

  .precio, .descuento{
    width: 50%;
  }

  .listTotal{
    display: flex;
  }

  .menu-hamburguesa {
    display: none;
  }

  .headerSuperior{
    justify-content:none;
    padding: 0%;
  }

  .headerSuperior1{
    width: 50%;
    padding: 2%;
  }
  .entradaHeader{
    height: 40%;
  }
  .lupa{
    height: 40%;
  }
  .buscador{
    justify-content: center;
    align-items: center;
  }

  .anuncio{
    align-items: center;
  }

}

@media (min-width: 769px){  /*Escritorio*/
  main section div.productos article{      /*Hace los articulos que ocupen un porcentaje menor de la pantalla*/
    width: 22%;
  }

  footer section{
    display: flex;
  }

  .copyright{
    text-align: left;
  }

}

/* Login y Register*/

.formulario{
  display: flex;
  justify-content: center;
}

h2{
  font-size: 1.2rem;
  padding: 0.5%;
}

.entrada{
  border: 3px solid var(--celeste);
  border-radius: 5px;
  width: 60vw;
  height: 5vh;
  background-color: var(--blanco);
}

.boton{
  border: 3px solid var(--celeste);
  border-radius: 5px;
  width: 60vw;
  height: 5vh;
  background-color: var(--celeste);
  color: var(--blanco);

}

.boton:hover {
  background-color: var(--azulClaro);
 }

 .radio{
   display: flex;
   flex-direction: column;
 }

@media (min-width: 361px) { /* Tablet */

  .entrada{
    width: 40vw;
    height: 4vh;
  }
  
  .boton{
    width: 40vw;
    height: 4vh;
  }

}

@media (min-width: 769px){ /*Desktop */

  .entrada{
    width: 25vw;
    height: 5vh;
  }
  
  .boton{
    width: 25vw;
    height: 5vh;
  }
}